.scheduleAuction {
    margin-bottom: 40px;

    .d-flex {
        margin-bottom: 40px;
        @media(max-width:992px) {
            flex-direction: column;
        }
    }
}

.cardLeilao {
    border: solid 1px #8CC63F;
    border-radius: 16px;
    max-width: 458px;
    padding: 8px 8px 16px;
    width: 100%;

    @media(max-width: 992px) {
        max-width: 100%;
    }

    @media(max-width: 600px) {
        min-height: 370px;
    }

    img {
        border-radius: 8px;
        max-width: 100%;
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: top center;

        @media(max-width: 992px) {
            height: auto;
        }
    }

    &__info {
        margin-top: 16px;

        @media(max-width: 600px) {
            display: flex;
            flex-direction: column;
            min-height: 140px;
        }

        p {
            color: #6DA621;
            display: inline-block;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            margin-bottom: 4px;
            text-transform: uppercase;
            vertical-align: middle;

            @media(max-width: 600px) {
                font-size: 12px;
            }

            img {
                height: 14px;
                width: 14px;
            }

            span {
                border-left: solid 2px #E8E8E8;
                border-right: solid 2px #E8E8E8;
                color: #7A7B79;
                font-family: inherit;
                margin: 0 8px;
                padding: 0 8px;
            }

            strong {
                font-family: inherit;
            }
        }
 
        h2 {
            color: #3E3E3E;
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 45px;
            text-transform: uppercase;

            @media(max-width: 600px) {
                font-size: 16px;                
            }
        }

        .btn {
            font-size: 14px;
            margin-left: auto;
            max-width: initial;
            padding: 8px 24px;
            width: max-content;

            @media(max-width: 600px) {
                margin-top: auto;
            }
            span {
                margin: 0 0 0 8px;
                position: relative;
                left: 0;
            }

            &:hover {
                span {
                    left: 12px;
                }
            }
        }
    }

    &--line {
        align-items: center;
        display: flex;
        gap: 8px;
        max-width: 100%;
        padding: 8px;

        @media(max-width: 600px) {
            align-items: flex-start;
            display: grid;
        }

        .cardLeilao__info {
            justify-content: space-between;
            margin-top: 0;
            width: 100%;

            .btn {
                font-size: 14px;
            }
        }

        img {
            object-fit: cover;
            object-position: center;
            height: 130px;
            max-width: initial;
            width: 175px;
            
            @media(max-width: 600px) {
                height: auto;
                width: 100%;
            }
        }

        h2 {            
            margin-bottom: 30px;
            @media(max-width: 600px) {
                margin-bottom: 15px;
            }
        }
    }
}

#swiperSchedule {
    padding-bottom: 20px;

    .swiper{

        &-wrapper{
            height: auto!important;
            margin-bottom: 20px;
        }

        &-slide {
            height: auto !important;
        }
    }
}

.swiperSchedule-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}