.lanceCast {
    background: linear-gradient(90deg, #FFFFFF 0%, #F2F2F2 100%);
    border: 1px solid #8CC63F;
    border-radius: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
    margin-bottom: 40px;
    padding: 24px 72px;

    @media(max-width: 1279px) {
        grid-template-columns: 1fr;
    }

    @media(max-width: 1024px) {
        padding: 24px;
    }

    @media(max-width: 600px) {
        display: flex;
        flex-direction: column;
        padding: 12px;
    }

    &__txt {
        justify-content: center;
        display: flex;
        flex-direction: column;

        @media(max-width: 1024px) {
            align-items: flex-start;
        }

        h3 {
            align-items: center;
            color: #8CC63F;
            display: flex;
            font-family: "Roboto Slab", sans-serif;
            font-weight: 500;
            font-size: 32px;
            line-height: 1.5%;
            letter-spacing: 0px;
            margin-bottom: 24px;

            @media(max-width: 1024px) {
                font-size: 22px;
            }            

            img {
                display: block;
                margin-right: 16px;
            }
        }

        h2 {
            color: #7A7B79;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 48px;
            line-height: .9;
            margin-bottom: 24px;
            width: max-content;

            @media(max-width: 1024px) {
                font-size: 38px;
            }

            @media(max-width: 600px) {
                width: auto;
            }

            strong  {
                display: block;
                color: #8CC63F;

                @media(max-width: 992px) {
                    display: inline-block;
                }
            }
        }

        a {
            font-weight: 500;
            font-size: 18px;
            text-transform: none;

            @media(max-width: 1024px) {
                padding: 8px 50px;
            }

            @media(max-width: 600px) {
                padding: 8px 30px;
            }

            div {
                background-color: transparent;
                height: 20px;
                width: 20px;

                span {
                    border-top: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 12px solid #fff;
                    border-radius: 4px;
                    display: block;
                    
                    background-color: initial;
                    height: initial;
                    width: initial;
                    
                    &::after, &::before {
                        content: none;
                    }                 
                }
            }
        }
    }

    &__list{
        display: grid!important;
        gap: 13px;
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
        transform: initial;

        @media(max-width: 600px) {
            display: flex!important;
            grid-template-columns: initial;
            gap: 0;
        }

        .cardCast {
            background-color: #FFFFFF;
            border: solid 1px #8CC63F;
            border-radius: 16px;
            height: 100%;
            padding: 8px 8px 16px;

            a {
                display: block;
                text-decoration: none;
            }

            img {
                border-radius: 8px;
                height: 185px;
                margin-bottom: 22px;
                // max-width: 100%;
                object-fit: cover;
                object-position: center;
                width: 195px;

                @media(max-width: 1024px) {
                    height: auto;
                    max-width: 100%;
                    width: auto;
                }
            }

            h3 {
                color: #3E3E3E;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.3;
                margin-bottom: 8px;
            }

            p {
                color: #7A7B79;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }

    #swiperCast {
        @media(max-width: 768px) { 
            max-width: 100%;
        }
    }
}