.lastNews {
    margin-bottom: 40px;

    .listNews {
        margin-bottom: 40px;
        @media(max-width: 768px) {
            flex-direction: column!important;
        }
        .d-flex-column {
            gap: 24px;
        }
    }   

    .cardNoticias {
        max-width: 458px;
        width: 100%;

        @media(max-width:768px) {
            border-bottom: solid 0.5px #8CC63F;
            padding-bottom: 10px;
            max-width: 100%;
        }

        img { 
            border-radius: 8px;
            max-width: 100%;
            width: 100%;
        }

        &__info {      
            .d-flex {
                align-items: center;
                gap: 16px;
                margin: 8px 0;

                a {
                    background-color: #6DA621;
                    border-radius: 24px;
                    color: #fff;
                    font-family: "Roboto Slab", sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 4px 16px;
                    text-decoration: none;
                }

                p {
                    color: #7A7B79;
                    font-family: "Roboto Slab", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            h2 {
                color: #3E3E3E;
                font-family: "Roboto Slab", sans-serif;
                font-weight: 500;
                font-size: 18px;
                letter-spacing: 0px;
                margin-bottom: 8px;
                line-height: 1.5;

                a {
                    color: inherit;
                    font-family: inherit;
                    text-decoration: none;
                    transition: all .3s ease;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            p {
                color: #7A7B79;
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-size: 14px;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        &--line {
            align-items: flex-start;
            display: flex;
            gap: 8px;
            max-width: 100%;
            border-bottom: 0;
            
            >a {
                @media(max-width: 600px) {
                    display: none;
                }
            }
            img {
                object-fit: cover;
                object-position: center;
                height: 140px;
                width: 200px;

                
            }

            .cardNoticias__info {
                border-bottom: solid 0.5px #8CC63F;
                min-height: 140px;
                padding-bottom: 8px;
                width: 100%;

                .d-flex {
                    margin: 0 0 8px;
                }

                h2 {
                    font-size: 16px;
                }

                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }

    .d-grid {
        margin-bottom: 40px;
        @media(max-width:992px) {
            display: none;
        }
    }
}

.page-template-page-noticias {
    .lastNews {
        .listNews {
            @media(max-width: 992px) {
                flex-direction: column!important;
            }

           
        }

        .d-grid {
            @media(max-width: 600px) {
                display: grid;
                grid-template-columns: 1fr;
            }

            .cardNoticias {
                img {
                    height: 165px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .cardNoticias--line {
            @media(max-width: 600px) {
                flex-direction: column;
                > a {
                    display: block;

                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }

    .seeMore {
        margin-bottom: 100px;
        .btn {
            background-color: #005E8A;
            padding: 15px;
            width: auto;
        }
    }
}
