.socialShare {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    p {
        color: #7A7B79;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0px;
        margin-bottom: 8px;
    }

    &__media {
        display: flex;
        justify-content: space-between;
        gap: 8px;

        @media(max-width: 992px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
        }

        a {
            border-radius: 8px;
            display: block;
            padding: 8px 38px;

            &:nth-child(1) {
                background-color: #1877F2;
            }
            &:nth-child(2) {
                background-color: #000000;
            }
            &:nth-child(3) {
                background-color: #0077B5F2;
            }
            &:nth-child(4) {
                background-color: #25D366;
            }
            &:nth-child(5) {
                background-color: #0077B5;
            }
            &:nth-child(6) {
                background-color: #1877F2;
            }
        }
    }
}
