.page-about {
    .title {
        margin-bottom: 40px;
    }
    
    p {
        color: #3E3E3E;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0px;
        margin-bottom: 24px;

    }

    img {
        margin-bottom: 40px;
        width: 100%;
        max-width: 100%;
    }
}