.agenda-calendar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.agenda-arrow {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    color: #777;
}

.agenda-days { 
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
    overflow-x: auto;
    padding: 5px 0;
    justify-content: space-between;
    width: 100%; 
}

.agenda-day {
    background: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 10px 18px;
    border-radius: 25px;
    border: solid 2px #7A7B79;
    text-align: center;
    cursor: pointer;
    white-space: nowrap; 
    transition: background 0.2s;

    color: #7A7B79;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;

}

.agenda-day:hover {
    background: #e6e6e6;
}

.agenda-day.active {
    background: #8bc34a;
    color: #fff;
    border: 0;
}

.day-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-right: 8px;
}

.day-label {
    font-size: 12px;
}

.page-agenda {
    .btn  {
        padding: 8px 80px;
        width: max-content;
    }
}

.scheduleFilter  {
    align-items: center;
    background: linear-gradient(90deg, #F2F2F2 0%, #FFFFFF 100%);
    border: 1px solid #f2f2f2;
    border-radius: 80px;
    display: flex;    
    gap: 12px;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 8px;

    @media(max-width: 768px) {
        flex-direction: column;
    }

    &__list {
        align-items: center;
        display: flex;
        gap: 8px;
        overflow: hidden;
        justify-content: space-between;
        transition: transform 0.3s ease;
        list-style: none;

        li {
            background-color: #fff;
            border: solid 2px #7A7B79;
            border-radius: 48px;
            color: #7A7B79;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: 16px;
            line-height: 1;
            letter-spacing: 0;
            min-width: 110px;
            padding: 8px 20px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .d-flex {
        align-items: center;
    }

    .btn {
        font-size: 16px;
        padding: 8px 20px;

        img {
            height: 18px;
            margin-right: 5px;
        }
    }

    button {
        background: transparent;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        padding: 10px 12px!important;
    
        &:first-child {
            span {
                transform: scaleX(-1);
            }
        }
        span {
            background-color: #7A7B79;           
            right: 0;

            &::after, &::before {
                background-color: #7A7B79!important;
            }
        }
    }
}

.cardLeilaoBox {
    display: flex;
    width: 100%;

    >p {
        border-right: 4px solid #F2F2F2;
        color: #8bc34a;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        letter-spacing: 0;
        margin-right: 10px;
        padding-right: 16px;
        vertical-align: middle;
        text-transform: uppercase;

        span {
            display: flex;
            font-family:inherit;
            padding-top: 10px;
            position: relative;

            &::after {
                content: '';
                background-color: #8bc34a;
                position: absolute;
                right: -20px;
                top: 0;
                height: 38px;
                width: 4px;
            }
        }
        
        img {
            display: block;
            height: 18px;
            width: 18px;
        }
    }
}