@import "./components/header.css"; 
@import "./components/footer.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width:100%;

    @media(max-width: 1439px) {
        max-width: 1140px;
    }
    @media(max-width: 1279px) {
        max-width: 100%;
        padding: 0 10px;
        width: 90%;
    }
}

.d-flex {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.d-flex-column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.title {
    color: #3E3E3E;
    font-family: "Roboto serif", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 24px;

    @media(max-width: 600px) {
        margin-bottom: 20px;
    }
}

.btn {
    align-items: center;
    background-color: #6DA621;
    border-radius: 24px;
    color: #fff;
    display: flex;
    font-family: "Roboto", serif;
    justify-content: center;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 0;

    span {
        background-color: #fff;
        border-radius: 2px;
        display: inline-block;
        height: 2px;
        // margin-right: 12px;
        right: 12px;
        position: relative;
        transition: all .2s ease-in-out;
        width: 24px;

        &::before,&::after {
            content: '';
            background-color: #fff;
            border-radius: 4px;
            display: block;
            height: 2px;
            position: absolute;
            right: -2px;
            top: -3px;
            transform: rotate(45deg);
            width: 10px;
        }

        &::after{
            bottom: -3px;
            top: initial;
            transform: rotate(-45deg);
        }
    }

    &:hover {
        span {
            right: 8px;
        }
    }
}

.seeMore {
    background: #FFFFFF;
    background: linear-gradient(90deg, #ffffff 0%, #f2f2f2 100%);
    border: solid 1px #f2f2f2;
    border-radius: 54px;
    margin-top: 8px;
    padding: 8px;
    width: 100%;

    .btn {
        margin-left: auto;
        padding: 8px 24px;
        width: max-content;

         @media(max-width: 600px) {
            font-size: 14px;
            margin: 0;
            width: auto;
        }
    }
}


.socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h3 {
        color: #C7C8C7;
        font-family: "Roboto Slab", serif;
        font-weight: 700;
        font-size: 16px;
    }

    &__media {
        display: flex;
        list-style: none;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 70px;

        li {
            border-radius: 8px;;
            background-color: #212320;
            transition: all .3s ease-in-out;

            &:nth-child(1) {
                &:hover {
                    background-color: #1778F2;
                }
            }
            &:nth-child(2) {
                &:hover {
                    background-color: #e4405f;
                }
            }
            &:nth-child(3) {
                &:hover {
                    background-color: #ff0000;
                }
            }
            

            a {
                align-items: center;
                display: flex;
                justify-content: center;
                height: 40px;
                width: 40px;                    

                img {
                    display: block;
                    object-fit: contain;
                    object-position: center;
                    height: 25px;
                    width: 25px;
                }
            }
        }
    }
}

.contentApp {
    background-color: #F2F2F2;
    background: linear-gradient(270deg, #FFFFFF 0.05%, #F2F2F2 100.06%);
    padding-top: 80px;
     @media(max-width: 768px) {
        padding: 40px 0;
     }

    &__info {
        display: flex;
        gap: 80px;

        >img {
            @media(max-width: 768px) {
                display: none;
            }
        }

        .txt {
            max-width: 100%;
            width: 485px;

            span {
                color: #6DA621;
                display: block;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1;
                letter-spacing: 0;
                margin-bottom: 40px;
                text-transform: uppercase;
            }

            h1 {
                color: #3E3E3E;
                font-family: "Roboto Serif", sans-serif;
                font-weight: 600;
                font-size: 32px;
                line-height: 1.1;
                letter-spacing: 0px;
                margin-bottom: 12px;
            }

            p {
                color: #3E3E3E;
                font-family: "Roboto",sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.1;
                letter-spacing: 0px;
                margin-bottom: 40px;
            }
        }

        .d-flex {

            >img {
                @media(max-width: 768px) {
                    display: none;
                }
            }

            a > img {
                @media(max-width: 768px) {
                    height: 40px;
                }
            }
            
        }
    }
}

.page-app {
    .bannerApp {
        height: auto;
        padding: 32px 0;

        .aboutApp {
            background-color: #FFFFFF;
            border-radius: 16px;
            padding: 40px;

            @media(max-width: 768px) {
                padding: 20px;
            }

            span {
                color: #6DA621;
                display: block;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1;
                letter-spacing: 0;
                margin-bottom: 32px;
                text-transform: uppercase;
            }

            h2 {
                color: #3E3E3E;
                font-family: "Roboto Serif", sans-serif;
                font-weight: 600;
                font-size: 32px;
                line-height: 1.1;
                letter-spacing: 0px;
                margin-bottom: 10px;

                @media(max-width: 768px) {
                    font-size: 28px;
                }
            }

            p, li {
                color: #3E3E3E;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.3;
                letter-spacing: 0px;
                margin-bottom: 32px;
            }

            ul  {
                list-style: none;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 16px;

                @media(max-width: 768px) {
                    grid-template-columns: 1fr;
                }

                li {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    font-size: 14px;

                    img {
                        margin-right: 16px;
                    }
                }
            }
        }

        .d-flex {
            gap: 0;

            >img {
                max-width: 100%;
                width: 100%;

                @media(max-width: 768px) {
                    margin-bottom: 25px;
                }
            }

            @media(max-width: 768px) {
                flex-direction: column;
            }
        }
    }

    .bannerTop {
        background: #005E8A;
    }
}