.bannerSingle {
    background-color: #00334F;
    padding: 38px;
    margin-bottom: 32px;
    @media(max-width: 768px) {
        padding: 20px 0;
    }

    &.live {
        background-color: #161616;

        strong {
            color: #8CC63F;
            display: block;
            font-family: Roboto;
            font-weight: 700;
            font-size: 20px;
            line-height: 1;
            letter-spacing: 0;
            margin-bottom: 24px;
            text-transform: uppercase;
        }

        .date {
            background-color: #161616!important;
            margin-bottom: 40px;
        }

        iframe {
            height: 475px;
            margin-bottom: 24px;
            width: 100%;
        }

        .bannerSingle__info > img {
            object-fit: contain;
            height: 205px;
            width: 300px;
            max-width: 100%;
        }

        .socialShare {
            &__media{

                @media(max-width: 768px) {
                    grid-template-columns: repeat(2, 1fr);
                }
                a{
                    padding: 10px 50px!important;
                }
            }
        }
    }

    h1 {
        color: #FFFFFF;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 1;
        letter-spacing: 0;
        margin-bottom: 8px;
        vertical-align: middle;
        text-transform: uppercase;
    }

    p {
        color: #E8E8E8;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0;
        margin-bottom: 40px;
        vertical-align: bottom;
        
        @media(max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__info {
        background-color: #F2F2F20D;
        border-left: 8px solid #8CC63F;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        display: flex;
        gap: 40px;
        padding: 16px 16px 16px 40px;

        @media(max-width: 768px) {
            flex-direction: column;
            padding: 16px;
        }

        .txt {
            .date {
                background-color: #00334F;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                padding: 8px 24px;

                @media(max-width: 768px) {
                    flex-direction: column;
                    margin-bottom: 20px;
                }

                h3 {
                    color: #8CC63F;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1;
                    letter-spacing: 0;
                    margin-bottom: 12px;
                    vertical-align: bottom;
                    text-transform: uppercase;
                }

                p {
                    color: #E8E8E8;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1;
                    letter-spacing: 0;
                    margin-bottom: 12px;
                    vertical-align: bottom;
                    width: max-content;

                    img {
                        height: 18px;
                        margin-right: 10px;
                        vertical-align: middle;
                    }   
                }

                &__ini {
                    width: 50%;
                }
                &__end {
                    width: 50%;
                    h3 {
                        color: #FF4948;
                    }
                }
            }

            .socialShare {
                @media(max-width: 768px) {
                    margin-bottom: 0;
                }
                &__media{
                    a {
                        padding: 8px 35px;
                    }
                    img {
                        height: 20px;
                    }
                }
            }
        }

        >img {
            border-radius: 12px;
            height: 340px;
            max-width: 100%;
            width: 100%;

            @media(max-width: 768px) {
                height: 220px;
                object-fit: cover;
            }
        }
    }
}

.infoLeilao {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 16px 32px;
    border: solid 2px #E8E8E8;
    margin-bottom: 80px;

    @media(max-width: 768px ) {
        flex-direction: column;
        gap: 20px;
        padding: 16px;
    }

    li {
        border-right: solid 1px #E8E8E8;
        padding-right: 50px;

        &:last-child {
            border: 0;
            padding-right: 0;
        }

        h3 {
            color: #8CC63F;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 1;
            letter-spacing: 0;
            margin-bottom: 12px;
            vertical-align: bottom;
            text-transform: uppercase;
            @media(max-width: 768px ) {
                font-size: 18px;
            }
        }

        p {
            color: #7A7B79;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1;
            letter-spacing: 0;
            vertical-align: bottom;
            @media(max-width: 768px ) {
                font-size: 14px;
            }
        }

        img {
            vertical-align: middle;
        }
    }
}

.btn {
    font-family: Roboto;
    font-weight: 800;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
        
    margin: 32px 0 24px;
    
}